@import "rc-time-picker/assets/index.css";
@import "sweetalert2/dist/sweetalert2.css";

.page-sidebar {
  background-image: none;
  background-color: #111;
}

.page-logo {
  background-image: none;
  background-color: transparent;
}
